@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Londrina+Outline&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*estilos principales*/

h1, h2 {
    font-family: "Archivo Black", sans-serif;
    color: white;
}

.font {
    color: white;
    font-family: "Londrina Outline", sans-serif;
}

 p , h3 , h4{
    color: white;
    font-family: "Nunito Sans", sans-serif;

}

.gris {
   color:#BCBCBC ; 
   font-family: "Nunito Sans", sans-serif;
}

.violeta {
    color:#6610f2; 
    font-size: 2rem;
}


body {
    background-color: #121212;
}

.bg-body-tertiary {
    background-color: #121212 !important;

}

.navbar-brand { 
    color: white;
}


.nav-link  {
    color:#6610f2;
}

.navbar-nav .nav-link.active {
    color:#6610f2;
}

#showcase {
    background-color: #121212;
    padding-top: 3rem;
    padding-left: 5rem;
}

html {
    scroll-behavior: smooth;
}



/*reset*/

* {
    box-sizing: border-box;
    margin:0; 
    padding:0;
    list-style: none;
    text-decoration: none;

}


.titulo-uno {
    font-size: 2.5rem;
}

h1{
    font-size: 4rem;
}

.subtitulo-uno {
    font-size: 2rem;
}


.btn {
    padding: 15px;
    pad: 0px;
    margin-left: rem;
    color: white;
    background-color:#6610f2; 
}

.datos-uno {    
    padding-bottom: 1rem;
    padding-top: 6rem;
    padding-left: 5rem;
    background-color:#121212;
    display: flex;
    align-items: center;
}

.email-uno, .locacion-uno {
    padding: 0 10px; /* Espaciado alrededor de cada sección */
}

.vertical-line {
    border-left: 2px solid white; /* Estilo de la línea vertical */
    height: 50px; /* Altura de la línea */
    margin: 0 10px; /* Espaciado horizontal de la línea */
}

.quiensoy {
    display: flex;
}

.left-image {
    padding-top: 5rem;
    margin-left: 5rem;
    width: 24rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-top: 11rem;
}



.horizontal-line {
    border-top: 2px solid #ababab; /* Estilo de la línea horizontal */
    width: 95%; /* Ancho de la línea */
    margin: 10px 0; /* Espaciado vertical de la línea */
}

.datos-dos {
   display: flex;
}

.column-dos {
    margin-left: 14rem;
    display: flex;
    flex-direction: column;
}


.button-container {
    border-radius: 6px;
    margin-top: 1rem;
    padding: 15px;

    background-color: #6610f2; 
}

.download-button {
    color: white ;
    text-decoration: none ;

}

.contenedor-dos {
    position: relative;
    padding: 1rem;
}

.resumen-container  {
    padding-right: 8rem;
    padding-top: 11rem;
    position: relative;
    display: inline-block;
    width: 37%;
    text-align: center;
}

.resumen-background  {
    padding-left: 5rem;
    padding-top: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem; /* Ajusta el tamaño según sea necesario */
    color: rgba(255, 255, 255, 0.1); /* Ajusta el color y la opacidad según sea necesario */
    z-index: 1;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

h2 {
    position: relative;
    z-index: 2;
    font-size: 2rem; /* Ajusta el tamaño según sea necesario */
    color: white;
}

.columnas {
    padding: 3.5rem;
    display: flex;
}

.horizontal-line2{
    border-top: 0.3px solid #3b3b3b; /* Estilo de la línea horizontal */
    width: 90%; /* Ancho de la línea */
    margin:  0; /* Espaciado vertical de la línea */
}

.sub-1, .sub-2, .sub-3, .sub-4, .sub-5, .sub-6 {
    width: 90%;
    padding: 1rem;
    background-color: #1E1E1E;
    border-left: 5px solid #6610f2;  /* Ajusta el color y el grosor del borde según sea necesario */
}



.skills-container {

    padding-right: 2rem;
    padding-top: 5rem;
    position: relative;
    display: inline-block;
    width: 37%;
    text-align: center;
}


.skills-background {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem; /* Ajusta el tamaño según sea necesario */
    color: rgba(255, 255, 255, 0.1); /* Ajusta el color y la opacidad según sea necesario */
    z-index: 1;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */

}

.cards {
    display: flex;
    margin: 3rem;
}

.card {
    border-radius: 0px;
    background-color: #1E1E1E;
    margin: 1rem;

}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    transform: scale(1.05); /* Agranda un poco la tarjeta al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Añade más sombra al hacer hover */
  }

.card-title {
    color: white;
}

.cards-dos {
    display: flex;
    padding-left: 4rem;
}

.proyectos-container {
    padding-right: 17rem;
    padding-top: 5rem;
    position: relative;
    display: inline-block;
    width: 52%;
    text-align: center;
}


.proyecto-background {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem; /* Ajusta el tamaño según sea necesario */
    color: rgba(255, 255, 255, 0.1); /* Ajusta el color y la opacidad según sea necesario */
    z-index: 1;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */

}

.proyectoss {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#proyectos {
    padding: 20px;
    text-align: center;
}

#proyectos h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.proyecto {
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.proyecto img {
    width: 50rem;
    transition: transform 0.5s ease;
}

.proyecto:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none; /* Disable pointer events by default */
}

.proyecto:hover .overlay {
    opacity: 1;
    pointer-events: auto; /* Enable pointer events on hover */
}

.overlay a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


.text-a{
    text-align: center;
}

.icon-style {
    padding-top: 7rem;
    margin-left: 23rem;

}



.contacto-container {
    padding-right: 17rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    display: inline-block;
    width: 52%;
    text-align: center;
}


.contacto-background {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem; /* Ajusta el tamaño según sea necesario */
    color: rgba(255, 255, 255, 0.1); /* Ajusta el color y la opacidad según sea necesario */
    z-index: 1;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */

}

form {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.field {
    margin-bottom: 1.5rem; /* Espacio entre los campos */
}

label {
    color: white;
    margin-bottom: 0.5rem;
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
    background-color: #1E1E1E;
    color: white;
}

textarea {
    resize: vertical; /* Permitir redimensionar verticalmente */
    min-height: 100px; /* Altura mínima del textarea */
}

input[type="submit"] {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #6610f2; /* Color del botón */
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000; /* Color del botón al pasar el mouse */
}



.footer {
    padding-top: 2rem;
    background-color: #000000;
    color: white;
    text-align: center;
    height: 15vh;
}

/* MEDIA QUERIS*/

@media (min-width: 770px) and (max-width: 1220px) {
    /* Aquí empiezas a editar desde 770px hasta 1220px */

    .quiensoy {
        display: flex;
        flex-direction: column;
    }

    .left-image {
        display: none;
    }


    .resumen-container {
            margin-left: 7rem;
    }

    .coumnas {
        padding-top: 4rem;
        margin-left: 4rem;
    }

    .skills-background {
        margin-left: 15rem;
    }

    .skills-container h2 {
        display: none;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }

     .proyectos-container {
        margin-left: 9rem;
        padding-bottom: 2rem;
    }  

    .proyectos-container h2{
        display: none;
    }

    .contacto-background{
        margin-left: 13rem;
    }

    .contacto-container h2 {
        display: none;
    }
   
}

/*MEDIA QUERIS PARA TABLET*/


@media (min-width: 481px) and (max-width: 768px) {
    /* Aquí empiezas a editar desde 481px hasta 768px */
    #showcase {
        margin-left: 3;
        padding-left: 4rem;
    }

    .left-image {
        display: none;
    }

    .resumen-container {
        margin-left: 10rem;
    }

    .resumen-container h2 {
    display: none;

    }

    .columnas {
            padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    }

    .columna-uno {
        padding-top: 3rem;
    }

    .skills-container h2 {
        display: none;
    }

    .skills-background {
        margin-left: 15rem;

    }

    .cards {
            display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10rem;
    }

    .proyectoss {
        padding-left: 9rem;
    }

    .proyecto-background {
        margin-left: 15rem;
    }

    .proyectos-container h2 {
    display: none;

    }

    
    .contacto-background{
        margin-left: 13rem;
    }

    .contacto-container h2 {
        display: none;
    }


}

@media (min-width: 320px) and (max-width: 480px) {
    /* Aquí empiezas a editar desde 320px hasta 480px */

    #showcase {
        margin-left: 3;
        padding-left: 4rem;
    }

    .left-image {
        display: none;
    }

    .resumen-container {
        margin-left: 10rem;
    }

    .resumen-container h2 {
    display: none;

    }

    .columnas {
            padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    }

    .columna-uno {
        padding-top: 3rem;
    }

    .skills-container h2 {
        display: none;
    }

    .skills-background {
        margin-left: 15rem;

    }

    .cards {
            display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10rem;
    }

    .proyectoss {
        padding-left: 9rem;
    }

    .proyecto-background {
        margin-left: 15rem;
    }

    .proyectos-container h2 {
    display: none;

    }

    
    .contacto-background{
        margin-left: 13rem;
    }

    .contacto-container h2 {
        display: none;
    }



 }









 






 
 